<header class="header">
  <p>Logo</p>
  <div class="buttons">
    <button> {{ 'login' | translate }}</button>
    <div class="line"></div>
    <button (click)="switchLanguage('es')">{{'spanish'| translate}}</button>
    <div class="line"></div>
    <button (click)="switchLanguage('pt')">{{'portugues'| translate}}</button>
  </div>
</header>
<main class="wrapper">
  <div *ngIf="currentStep === 1">
    <div class="question">{{ 'questionprofiletype' | translate }} </div>
    <div class="container-buttons">
      <button class="question-button" (click)="setRoleId(1)">
        {{'sportman'| translate}}
      </button>
      <button class="question-button" (click)="setRoleId(2)">
        {{ 'supplier' | translate}}
      </button>
    </div>
  </div>
  <div *ngIf="currentStep == 2">
    <div class="question">{{ 'register' | translate}}</div>
    <div class="container-inputs">
      <div class="form-group">
        <label class="label-text" for="input1">{{'email'| translate}}</label>
        <input type="text" name="email" placeholder="{{ 'enterEmail' | translate }}" [formControl]="email"
          (change)="changeValueForm($event)">
        <div class="error-container" *ngIf="email.invalid && (email.dirty || email.touched)">
          <span class="error" *ngIf="email.errors?.['required']">{{ 'fieldRequired' | translate}}</span>
          <span class="error" *ngIf="email.errors?.['email']">{{'emailFail' | translate}}</span>
        </div>
      </div>

      <div class="form-group">
        <label class="label-text" for="input2">{{'password'|translate }}</label>
        <input [formControl]="password" type="password" name="password" placeholder="{{'enterPassword'| translate}}"
          (change)="changeValueForm($event)">
        <div class="error-container" *ngIf="password.invalid && (password.dirty || password.touched)">
          <span class="error" *ngIf="password.errors?.['required']">{{'fieldRequired'| translate}} </span>
          <span class="error" *ngIf="password.errors?.['minlength']">{{'greaterCharacters'| translate}}6</span>
          <span class="error" *ngIf="password.errors?.['maxlength']">{{'lessCharacters'| translate}}10</span>
          <span class="error" *ngIf="password.errors?.['invalidPassword']">{{'containLettersAndNumbers'|
            translate}}</span>
          <span class="error" *ngIf="password.errors?.['invalidConfirmPassword']">{{'passwordsNotMatch'|
            translate}}</span>
        </div>
      </div>

      <div class="form-group">
        <label class="label-text" for="input3">{{'confirmPasswordLabel'| translate}}</label>
        <input [formControl]="confirmPassword" type="password" name="confirmPassword"
          placeholder="{{'enterConfirmPassword' | translate}}" (change)="changeValueForm($event)">
        <div class="error-container"
          *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          <span class="error" *ngIf="confirmPassword.errors?.['required']">{{'fieldRequired'| translate}}</span>
          <span class="error" *ngIf="confirmPassword.errors?.['invalidConfirmPassword']">{{'passwordsNotMatch'|
            translate}}</span>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="currentStep === 3">
    <div class="question">{{'register'| translate}}</div>


    <div class="container-inputs">
      <div class="form-group">
        <label class="label-text" for="input1">{{'name'| translate}}</label>
        <input [formControl]="name" (change)="changeValueForm($event)" type="text" name="name"
          placeholder="{{'enterName'| translate}}" (change)="changeValueForm($event)">
        <div class="error-container" *ngIf="name.invalid && (name.dirty || name.touched)">
          <span class="error" *ngIf="name.errors?.['required']">{{'fieldRequired'|translate}}</span>
        </div>
      </div>

      <div class="form-group">
        <label class="label-text" for="input2">{{'lastname'| translate}}</label>
        <input [formControl]="lastname" type="text" name="lastname" placeholder="Ingrese su apellido"
          (change)="changeValueForm($event)">
        <div class="error-container" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
          <span class="error" *ngIf="lastname.errors?.['required']">{{'fieldRequired'|translate}}</span>
          <span class="error" *ngIf="lastname.errors?.['minlength']">{{'greaterCharacters'| translate}}2</span>
          <span class="error" *ngIf="lastname.errors?.['maxlength']">{{'lessCharacters'| translate}}50</span>
        </div>
      </div>



      <div class="form-group">
        <label class="label-text" for="input3">{{'typeIdentification'| translate}}</label>
        <select name="document_type" [formControl]="document_type" (change)="changeValueForm($event)">
          <option value="" disabled selected hidden>{{'selectTypeIdentification'| translate}}</option>
          <option value="CC">{{'cedula'| translate}}</option>
          <option value="PP">{{'passPort'| translate}}</option>
        </select>
        <div class="error-container" *ngIf="document_type.invalid && (document_type.dirty || document_type.touched)">
          <span class="error" *ngIf="document_type.errors?.['required']">{{'fieldRequired'| translate}}</span>
        </div>
      </div>


      <div class="form-group">
        <label class="label-text" for="input2">Número de identificación</label>
        <input [formControl]="document_number" type="text" name="document_number"
          placeholder="{{'enterTypeIdentification'| translate}}" (change)="changeValueForm($event)">
        <div class="error-container"
          *ngIf="document_number.invalid && (document_number.dirty || document_number.touched)">
          <span class="error" *ngIf="document_number.errors?.['required']">{{'fieldRequired'| translate}}</span>
          <span class="error" *ngIf="document_number.errors?.['minlength']">{{'greaterCharacters'| translate}}6</span>
          <span class="error" *ngIf="document_number.errors?.['maxlength']">{{'lessCharacters'| translate}}20</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="currentStep === 4">
    <div class="question">{{'register'| translate}}</div>
    <div class="container-inputs">
      <div class="form-group" *ngIf="role_id == 1">
        <label class="label-text" for="input3">{{'birthCountry'| translate}}</label>
        <select [formControl]="birth_country_id" type="text" name="birth_country_id" (change)="changeValueForm($event)">
          <option value="" disabled selected hidden>{{'selectAOption'| translate}}</option>
          <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
        </select>
        <div class="error-container"
          *ngIf="birth_country_id.invalid && (birth_country_id.dirty || birth_country_id.touched)">
          <span class="error" *ngIf="birth_country_id.errors?.['required']">{{'fieldRequired'| translate}}</span>
        </div>
      </div>

      <div class="form-group" *ngIf="role_id == 1">
        <label class="label-text" for="input3">{{'birthCity' | translate}}</label>
        <select [formControl]="birth_city_id" type="text" name="birth_city_id" (change)="changeValueForm($event)">
          <option value="" disabled selected hidden>{{'selectAOption'| translate}}</option>
          <option *ngFor="let city of citiesBirth" [value]="city.id">{{ city.name }}</option>

        </select>
        <div [formControl]="birth_city_id" class="error-container"
          *ngIf="birth_city_id.invalid && (birth_city_id.dirty || birth_city_id.touched)">
          <span class="error" *ngIf="birth_city_id.errors?.['required']">{{'fieldRequired'| translate}}</span>
        </div>
      </div>

      <div class="form-group">
        <label class="label-text" for="input3">{{'residenceCountry'| translate}}</label>
        <select ngDefaultControl [formControl]="residence_country_id" type="text" name="residence_country_id"
          (change)="changeValueForm($event)">
          <option value="" disabled selected hidden>{{'selectAOption'| translate}}</option>
          <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
        </select>
        <div [formControl]="residence_country_id" class="error-container"
          *ngIf="residence_country_id?.invalid && (residence_country_id.dirty || residence_country_id.touched)">
          <span class="error" *ngIf="residence_country_id?.errors?.['required']">{{'fieldRequired'| translate}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="label-text" for="input3">{{'residenceCity'| translate}}</label>
        <select [formControl]="residence_city_id" type="text" name="residence_city_id"
          (change)="changeValueForm($event)">
          <option value="" disabled selected hidden>{{'selectAOption'| translate}}</option>
          <option *ngFor="let city of citiesResidence" [value]="city.country_id">{{ city.name }}</option>
        </select>
        <div [formControl]="residence_city_id" class="error-container"
          *ngIf="residence_city_id.invalid && (residence_city_id.dirty || residence_city_id.touched)">
          <span class="error" *ngIf="residence_city_id.errors?.['required']">{{'fieldRequired'| translate}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container-buttons">
    <button class="secondary-button" (click)="backStep()">
      {{'back'| translate}}

    </button>
    <button class="primary-button" (click)="nextStep()">
      {{ currentStep === 4 ? ('registerForm' | translate) : ('next' | translate) }}
    </button>
  </div>

</main>
