<main class="container-main">
  <div class="content">
    <div class="main-content">
      <div >
        <div class="title">{{ 'youInformation' | translate}}</div>
        <div class="subtitle">{{ 'profileEvent' | translate}}</div>
      </div>

      <div class="all-content">
        <div class="container">
          <div class="column">
            <span class="text-card-title">{{ 'dedication' | translate}}</span>
            <hr class="separate-top">
            <span class="text-card-info">{{profile?.time_dedication_sport}}</span>
            <hr class="separate-button">
          </div>

          <div class="column">
            <span class="text-card-title">{{ 'experience' | translate}}</span>
            <hr class="separate-top">
            <span class="text-card-info">{{ profile?.exercise_experience }}</span>
            <hr class="separate-button">
          </div>
        </div>

        <div class="container">
          <div class="column">
            <span class="text-card-title">{{ 'yourActivities' | translate}}</span>
            <hr class="separate-top">
            <span class="text-card-info">{{ profile?.sport_preference }}</span>
            <hr class="separate-button">
          </div>

          <div class="column">
            <span class="text-card-title">{{ 'injuries' | translate}}</span>
            <hr class="separate-top">
            <span class="text-card-info">{{ injuries }}</span>
            <hr class="separate-button">
          </div>
        </div>

        <div class="table">
          <table aria-describedby="food profile" >
            <thead>
              <tr>
                <th class="thead">{{'session' | translate}}</th>
                <th class="thead">{{'trainingListColumnIntensity' | translate}}</th>
                <th class="thead">{{'trainingListColumnSportDuration' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr" *ngFor="let session of sessions">
                <td class="td">
                  <dd class="fw-bold">{{session.training_plan.name}}</dd>
                </td>
                <td>
                  <dd>{{session.training_plan.intensity}}</dd>
                </td>
                <td>
                  <dd>{{session.time}}</dd>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
