<main class="wrapper">
  <div  class="container-services" *ngIf="currentStep === 1">
    <div class="question">{{"questionAppointmentSport" | translate}} </div>
    <select [formControl]="sport" id="selectSportSpecialist">
      <option value="Athletics">{{'Athletics' | translate}}</option>
      <option value="Cycling">{{'Cycling' | translate}}</option>
      <div class="container-buttons">
        <button [ngClass]='getButtonClassesSports("ATHLETICS")' (click)="setSport('ATHLETICS')">
          {{'Athletics'| translate}}
        </button>
        <button [ngClass]='getButtonClassesSports("CYCLING")' class="question-button" (click)="setSport('CYCLING')">
          {{'Cycling'| translate}}
        </button>
      </div>
    </select>
    <div *ngIf="activateErrorMessageForCategory">
      <span class="error">{{ 'fieldRequired' | translate}}</span>
    </div>
  </div>

  <div *ngIf="currentStep == 2" class="container-services">
    <div class="question">{{"questionAppointmentService" | translate}} </div>
    <select [formControl]="service" id="selectSportSpecialist">
      <option *ngFor="let item of sportSpecialist" [value]="item.name">{{item.name}}</option>
    </select>
    <div *ngIf="activateErrorMessageForCategory">
      <span class="error">{{ 'fieldRequired' | translate}}</span>
    </div>
  </div>

  <div *ngIf="currentStep == 3" class="container-services">
    <div class="question">{{"questionAppointmentInjury" | translate}} </div>
    <select [formControl]="injury" id="selectInjuries">
      <option *ngFor="let item of injuries" [value]="item.id">{{item.name}}</option>
    </select>
    <div *ngIf="activateErrorMessageForCategory">
      <span class="error">{{ 'fieldRequired' | translate}}</span>
    </div>
  </div>

  <div *ngIf="currentStep == 4" class="container-services">
    <div class="question">{{"date" | translate}} </div>
    <input type="datetime-local" id="datetimecustom" name="datetimecustom" [min]="getMinValue()"
           [max]="getMaxValue()" [formControl]="datetimecustom" />

    <div *ngIf="datetimecustom.invalid && (datetimecustom.dirty || datetimecustom.touched)">
      <span class="error" *ngIf="datetimecustom.errors?.['required']">{{'fieldRequired'| translate}} </span>
    </div>
  </div>

  <div class="container-buttons">
    <button *ngIf="currentStep !== 1" class="secondary-button" (click)="backStep()">
      {{'back'| translate}}
    </button>
    <button class="primary-button" (click)="nextStep()">
      {{ currentStep === 4 ? ('registerForm' | translate) : ('next' | translate) }}
    </button>
  </div>
</main>
