@import '../register/vars.css';

.product-container {
  overflow-y: auto;
  height: 100vh;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  background: #181818;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.card-content {
  display: flex;
  align-items: center;
}

.food-image-desktop {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  padding: 20px;
}

.info h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.info p {
  margin: 5px 0;
}

.info ul {
  margin-top: 10px;
}

.info ul li {
  margin-left: 20px;
}

.title1 {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  display: flex;
  padding: 17px;
  gap: 10px;
}

.title1desc {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  display: flex;
  padding: 17px;
  gap: 10px;
}

.product-list-desktop {
  margin-top: 20px;
}

.contact-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.primary-button {
  border-radius: 38px;
  background: var(--c-green-ligth);
  display: flex;
  height: 40px;
  padding: 0px 30px;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  color: black;
}
.primary-button:hover {
    border: 1px solid var(--c-green-ligth);
    color: black;
}
