.continer-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 43px 51px 43px;
  gap: 19px;
}


.info-style{
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description-style{
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.primary-button{
  border-radius: 38px;
  background: var(--c-green-ligth);
  height: 40px;
  padding: 0 30px;
  gap: 20px;
  font-weight: 500;
  color: var(--black);
}


table {
  border-collapse: collapse;
  width:90%;
}

.container-tables {
  padding: 23px 43px 51px 43px;
  border-radius: 30px;
  margin: auto;
  width: 70%;
  -webkit-animation: slide-in-top 0.7s cubic-bezier(0.860, 0.000, 0.070, 1.000) alternate both;
	animation: slide-in-top 0.7s cubic-bezier(0.860, 0.000, 0.070, 1.000) alternate both;

}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.table {
  padding: 23px 43px 51px 43px;
  display: flex;
  justify-content: center;
  align-items: left;
  border: 1px solid var(--c-green-ligth);
}

 .tr {
  border: solid;
  border-width: 2px 0;
  text-align: center;
  border-color: gray;
  vertical-align: middle;
}

th {
  border-width: 2px 0;
  text-align: center;
  border-color: darkgray;
}

.tr:hover {
  border-radius: 10px;
  border: 1px solid var(--c-green-ligth);
  color: var(--c-green-ligth);
}

.td {
  padding-block-end: 5%;
  display: inline;
}

#select-language {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  background-color: #555;
  color: #fff;
  height: 36px;
}

#select-language:hover {
  background-color: gray;
}