<header>
  <div class="logo">
    <a href="/">
      <img src="https://cdn-sport-app.s3.amazonaws.com/logo.png" alt="Logo de la empresa">
    </a>
  </div>
  <div class="right-section">
    <a href="/login">{{'login'| translate}} </a>
    <div class="line"></div>
    <a href="/register" class="register">{{ 'register' | translate }}</a>
    <select id="select-language" (change)="switchLanguage($event)">
      <option value="es" [attr.selected]="language === 'es' ? true : null"> {{ 'spanish' | translate }}</option>
      <option value="pt" [attr.selected]="language === 'pt' ? true : null"> {{ 'portuguese' | translate }}</option>
    </select>
  </div>
</header>

<main class="main">
  <div class="container-images">
    <div class="container-image mt-10">
      <img class="image-training-home" alt="traning" src="https://cdn-sport-app.s3.amazonaws.com/training-image.png">
      <div class="text-overlay-home b-64">
        {{'textTraining'| translate}}
      </div>
      <div class="text-overlay">
        {{'knowYourTrainings'| translate}}
      </div>
    </div>
    <div class="container-image mt-10">
      <img class="image-training-home" alt="traning" src="https://cdn-sport-app.s3.amazonaws.com/acompañar.png">
      <div class="text-overlay-home b-64">
        {{'trainingEvents' | translate}}
      </div>
      <div class="text-overlay">
        {{'scheduleAppointments' | translate}}
      </div>
    </div>

    <div class="container-image mt-10">
      <img class="image-training-home" alt="traning" src="https://cdn-sport-app.s3.amazonaws.com/alimentacion.png">
      <div class="text-overlay-home">
        {{'feeding'| translate}}
      </div>
      <div class="text-overlay">
        {{'feeding'| translate}}
      </div>
    </div>
  </div>
</main>
<footer class="footer-main-page">
  <i><img alt="facebook" src="../../../assets/images/facebook.svg"/></i>
  <i><img alt="instagram" src="../../../assets/images/instagram.png"/></i>
  <i><img alt="tiktok" src="../../../assets/images/tiktok.png"/></i>
</footer>