
  <header class="header">
    <div class="buttons">
      <button  (click)="goToRegitry()"> {{ 'register' | translate }} </button>  
      <div class="line"></div>
      <button (click)="goToLogin()">Iniciar sesión</button>
    </div>
  </header>
  <main class="main">
  <div class="container">
    <div class="column">
      <img src="https://cdn-sport-app.s3.amazonaws.com/home_1.png" alt="home">
    </div>
    <div class="column">
      <img src="https://cdn-sport-app.s3.amazonaws.com/home_2.png" alt="home_2">
    </div>
    <div class="column">
      <img src="https://cdn-sport-app.s3.amazonaws.com/home_3.png" alt="home_3">
    </div>
  </div>
  </main>
  <footer>
    <i>F</i>
    <i>I</i>
    <i>T</i>
  </footer>
