main,
footer {
  background-color: #000000;
  box-sizing: border-box;

}

main {
  height: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 26px;
  align-items: center;
  height: 100vh;
}

.column {
  display: flex;
  justify-content: center;
  flex: 0 0 30%;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.buttons {
  display: flex;
}

body {
  font-family: Arial, sans-serif;
}

.line {
  width: 1px;
  height: 20px;
  background-color: white;
  margin: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  color: #fff;
  padding: 2px 20px 0 15px;
}

.logo img {
  width: 40px;
  margin: 8px 0 0 0;
}

.right-section {
  display: flex;
  align-items: center;
}

.right-section a {
  text-decoration: none;
  color: #fff;
}

.register {
  margin-right: 20px;
}

#select-language {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  background-color: #555;
  color: #fff;
}

.text-overlay-home {
  position: absolute;
  bottom: 42px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

}

.mt-10 {
  margin-top: 10px;
}

.footer-main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100px;
}

.image-training-home {

  height: 526px;
}

.image-training:hover {
  border: 2px solid #a7b38d;
}

.b-64{
  bottom: 64px
}