<header class="header">
  <div>
  </div>
</header>
<main class="main">
<div class="container">
  <div class="column">

  </div>
  <div class="column">

  </div>
  <div class="column">

  </div>
</div>
</main>
<footer >
  <div class="footer-buttons">
    <form action="">
      <div class="profile-cell">
        <input id="sport_profile" type="radio" name="profileControl" formControlName="profileControl" value="sport"/>
        <label class="radio-label" for="sport_profile"> Perfil Deportivo </label>
      </div>
      <div class="profile-cell">
        <input id="demography_profile" type="radio" name="profileControl" formControlName="profileControl" value="demography"/>
        <label class="radio-label" for="demography_profile"> Perfil Demográfico </label>
      </div>
      <div class="profile-cell">
        <input id="nutritional_profile" type="radio" name="profileControl" formControlName="profileControl" value="nutritional"/>
        <label class="radio-label" for="nutritional_profile"> Perfil Alimenticio </label>
      </div>
    </form>
  </div>
</footer>
