<main class="main" *ngIf="isActiveProfile == true">
<div>
  <div *ngIf="selectedOption == 'sport'">
    Perfil Deportivo
  </div>
  <div *ngIf="selectedOption == 'demography'">
    Perfil Demográfico
  </div>
  <div *ngIf="selectedOption == 'nutritional'">
    <app-nutritional-profile-list></app-nutritional-profile-list>
  </div>
</div>
<div>
  <div class="footer-buttons">
    <div class="profile-cell">
      <input id="sport_profile" type="radio" name="profileControl" checked="checked" formControlName="profileControl" value="sport" (click)="changeValueForm('sport')"/>
      <label class="radio-label" for="sport_profile"> Perfil Deportivo </label>
    </div>
    <div class="profile-cell">
      <input id="demography_profile" type="radio" name="profileControl" formControlName="profileControl" value="demography" (click)="changeValueForm('demography')"/>
      <label class="radio-label" for="demography_profile"> Perfil Demográfico </label>
    </div>
    <div class="profile-cell">
      <input id="nutritional_profile" type="radio" name="profileControl" formControlName="profileControl" value="nutritional" (click)="changeValueForm('nutritional')"/>
      <label class="radio-label" for="nutritional_profile"> Perfil Alimenticio </label>
    </div>
  </div>
</div>

</main>
