<header>
  <div class="logo">
    <a href="/">
      <img src="https://cdn-sport-app.s3.amazonaws.com/logo.png" alt="Logo de la empresa">
    </a>
  </div>
  <div class="right-section">
    <a href="/login">Iniciar sesión</a>
    <div class="line"></div>
    <a href="/register" class="register">{{ 'register' | translate }}</a>
    <select id="select-language" (change)="switchLanguage($event)">
      <option value="es">{{ 'spanish' | translate }}</option>
      <option value="pt">{{ 'portuguese' | translate }}</option>
    </select>
  </div>
</header>

<main class="wrapper">
  <div>
    <div class="container-inputs">
      <div class="form-group">
        <label class="label-text" for="input1">{{'email'| translate}}</label>
        <input type="text" name="email" placeholder="{{'enterEmail'| translate}}" [formControl]="email"
          (change)="changeValueForm($event)">
        <div class="error-container" *ngIf="(email.invalid && (email.dirty || email.touched))">
          <span class="error" *ngIf="email.errors?.['required']">{{'fieldRequired'| translate}}</span>
          <span class="error" *ngIf="email.errors?.['email']">{{'emailFail' | translate}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="label-text" for="input2">{{'password'|translate }}</label>
        <input [formControl]="password" type="password" name="password" placeholder="{{'enterPassword'| translate}}"
          (change)="changeValueForm($event)">
        <div class="error-container" *ngIf="password.invalid && (password.dirty || password.touched)">
          <span class="error" *ngIf="password.errors?.['required']">{{'fieldRequired'| translate}}</span>
        </div>
      </div>
      <div class="container-buttons">
        <button class="primary-button" (click)="userLogin()">
          {{'login' | translate}}
        </button>
      </div>
    </div>
  </div>
</main>
