<header class="header">
  <div class="buttons" (click)="openMenu()" (keydown)="handleKeyDown($event)" (keypress)="handleKeyDown($event)" (keyup)="handleKeyDown($event)">
    <a class="profile-ball">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfvWW4r98sfhEqdK826pwQKwr4iQ2QBFRP6fnDr0gypNwY82nrZdVNulMSWIIXAJj9bRc&usqp=CAU" alt="Imagen de Perfil">
    </a>
  </div>
</header>

<div *ngIf="isOpenMenu">
  <ul class="menu" id="menu">
    <li (keydown)="handleKeyDown($event)" (keypress)="handleKeyDown($event)" (keyup)="handleKeyDown($event)" (click)="showProfile()">
      <img class="icon-menu" src="https://cdn-sport-app.s3.amazonaws.com/user.svg" alt="icon-menu" (keydown)="handleKeyDown($event)" (keypress)="handleKeyDown($event)" (keyup)="handleKeyDown($event)"/>
      <a>
        {{'profile'| translate}}
      </a>
    </li>

    <li (keydown)="handleKeyDown($event)" (keypress)="handleKeyDown($event)" (keyup)="handleKeyDown($event)">
      <img class="icon-menu" src="https://cdn-sport-app.s3.amazonaws.com/languages.png" alt="icon-menu" (keydown)="handleKeyDown($event)" (keypress)="handleKeyDown($event)" (keyup)="handleKeyDown($event)"/>
      <select id="select-language" (change)="switchLanguage($event)">
        <option value="es" [attr.selected]="language === 'es' ? true : null"> {{ 'spanish' | translate }}</option>
        <option value="pt" [attr.selected]="language === 'pt' ? true : null"> {{ 'portuguese' | translate }}</option>
      </select>
    </li>

    <li (click)="closeSession()" (keydown)="handleKeyDown($event)" (keypress)="handleKeyDown($event)" (keyup)="handleKeyDown($event)">
      <a>
        <img class="icon-menu" src="https://cdn-sport-app.s3.amazonaws.com/logout.svg" alt="icon-menu" (keydown)="handleKeyDown($event)" (keypress)="handleKeyDown($event)" (keyup)="handleKeyDown($event)"/>
        {{'closeSession'| translate}}
      </a>
    </li>
  </ul>
</div>
