<div class="content-main" *ngIf="!isSuggestedTrainingActive && !isAdditionalServiceActive">
    <div class="container-header">
        <div class="title-training">
            <img alt="circle" src="https://cdn-sport-app.s3.amazonaws.com/yellow_circle.svg" />
            <div>{{'textTraining'| translate}}</div>
        </div>
        <div class="container-switch">
            <p >{{'insideHome'| translate}}</p>
            <label for="e" class="switch">
                <input id="e" name="e" type="checkbox" [checked]="isChecked" (change)="changeInsideHome($event)">

                <span class="slider round"></span>
            </label>
            <p>{{'outsideHome'| translate}}</p>
        </div>
    </div>
    <div class="container-content">
        <div class="container-training">
            <div class="container-image">
                <img class="image-training" alt="traning" src="https://cdn-sport-app.s3.amazonaws.com/training-image.png"
                    (click)="getSuggestedTrainings()"
                    (keypress)="handleKeyDown($event)">
                <div class="text-overlay">
                   {{'knowYourTrainings'| translate}}
                </div>
            </div>
        </div>
        <div class="container-training">
            <div class="container-image" (click)="getAdditionalServices()"  (keypress)="handleKeyDown($event)">
                <img class="image-training" alt="traning" src="https://cdn-sport-app.s3.amazonaws.com/acompañar.png"  (keypress)="handleKeyDown($event)">
                <div class="text-overlay">
                    {{'serviceAdditional'| translate}}
                </div>
            </div>
        </div>
        <div class="container-training">
            <div class="container-image">
                <img class="image-training" (click)="getRecommendations()"  (keypress)="handleKeyDown($event)" alt="traning" src="https://cdn-sport-app.s3.amazonaws.com/alimentacion.png">
                <div class="text-overlay">
                    {{'feeding'| translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-main"  *ngIf="isSuggestedTrainingActive">
    <app-suggested-training-list [isChecked]="isChecked"></app-suggested-training-list>
</div>

<div class="content-main list-style" *ngIf="isAdditionalServiceActive">
  <div>
    <div class="info-style">{{'serviceAdditional'| translate}}</div>
    <div class="description-style">{{'textServiceAdditional' | translate}}</div>
  </div>

    <div class="container-tables table-list">
        <div class="table">
            <table aria-describedby="food profile">
                <thead>
                    <tr>
                        <th>{{'type'| translate }}</th>
                        <th>{{ 'description' | translate}}</th>
                        <th>{{'cost'| translate}}</th>
                        <th>{{'outsideHome'| translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr" *ngFor="let service of services">
                        <td>
                            <dd>{{service.type}}</dd>
                        </td>
                        <td>
                            <dd>{{service.description}}</dd>
                        </td>
                        <td>
                            <dd>{{service.cost}}</dd>
                        </td>
                        <td>
                            <dd>{{getValueOfInsideHouse(service.is_inside_house)}}</dd>
                        </td>
                        <td>
                          <dd><button class="primary-button" (click)="callCongrats()">{{ 'solicitar' | translate }} </button></dd>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
