<main class="wrapper">
  <div class="content">
    @if (currentStep === 1) {

      <div class="container-services">
        <div class="question">{{'questionServiceType' | translate}} </div>
        <div class="container-buttons">
          <button [ngClass]='getButtonClassesTypeEvent()' (click)="setServiceType('EVENT')">
            {{'event'| translate}}
          </button>
          <button [ngClass]='getButtonClassesTypeRoute()' class="question-button" (click)="setServiceType('ROUTE')">
            {{'route'| translate}}
          </button>
        </div>
        @if (activateErrorMessageForTypeService) {

          <div class="error-container-1">
            <span class="error">{{ 'fieldRequired' | translate}}</span>
          </div>
        }
      </div>
    } @else if (currentStep == 2) {
      <div class="container-services">
        <div class="question">{{'questionSportType'| translate}}</div>
        <div class="container-buttons">
          <button [ngClass]='getButtonClassesTypeCycling()' (click)="setSportType('CYCLING')">
            {{'cycling'| translate}}
          </button>
          <button [ngClass]='getButtonClassesTypeRunning()' class="question-button" (click)="setSportType('RUNNING')">
            {{'running'| translate}}
          </button>

        </div>
        @if (activateErrorMessageForSportType) {

          <div class="error-container-1">
            <span class="error">{{ 'fieldRequired' | translate}}</span>
          </div>
        }
      </div>
    } @else if (currentStep == 3) {
      <div class="container-services">

        <div class="container-inputs">
          <div class="form-group">

            <label class="label-text" for="nameEvent">{{'nameEvent'| translate}}</label>
            <input [formControl]="nameEvent" type="text" name="nameEvent" placeholder="{{'writeHere'| translate}}"
                   (change)="changeValueForm($event)">
            <div class="error-container" *ngIf="nameEvent.invalid && (nameEvent.dirty || nameEvent.touched)">
              <span class="error" *ngIf="nameEvent.errors?.['required']">{{'fieldRequired'| translate}} </span>
            </div>
          </div>
          <div class="form-group">
            <label class="label-text" for="datetimecustom">{{'date'| translate}}</label>

            <input type="datetime-local" id="datetimecustom" name="datetimecustom" [min]="getMinValue()"
                   [max]="getMaxValue()" [formControl]="datetimecustom" />

            <div class="error-container"
                 *ngIf="datetimecustom.invalid && (datetimecustom.dirty || datetimecustom.touched)">
              <span class="error" *ngIf="datetimecustom.errors?.['required']">{{'fieldRequired'| translate}} </span>
            </div>
          </div>



          <div class="form-group">

            <label class="label-text" for="country_id">{{'country'| translate}}</label>
            <select ngDefaultControl [formControl]="country_id" type="text" id="country_id" #miSelect name="country_id"
                    (change)="changeValueForm($event)">
              <option value="" disabled selected hidden>{{'selectAOption'| translate}}</option>
              <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
            </select>
            <div [formControl]="country_id" class="error-container"
                 *ngIf="country_id?.invalid && (country_id.dirty || country_id.touched)">
              <span class="error" *ngIf="country_id?.errors?.['required']">{{'fieldRequired'| translate}}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="label-text" for="city_id">{{'city'| translate}}</label>
            <select [formControl]="city_id" type="text" name="city_id" (change)="changeValueForm($event)">
              <option value="" disabled selected hidden>{{'selectAOption'| translate}}</option>
              <option *ngFor="let city of cities" [value]="city.country_id">{{ city.name }}</option>
            </select>
            <div [formControl]="city_id" class="error-container"
                 *ngIf="city_id.invalid && (city_id.dirty || city_id.touched)">
              <span class="error" *ngIf="city_id.errors?.['required']">{{'fieldRequired'| translate}}</span>
            </div>
          </div>
        </div>
      </div>
    } @else if (currentStep == 4) {
      <div class="container-services">

        <div class="container-inputs">
          <div class="form-group">

            <label class="label-text" for="quantity">{{'quantity'| translate}}</label>

            <input [formControl]="quantity" type="number" min="1" name="quantity" placeholder="{{'writeHere'| translate}}"
                   (change)="changeValueForm($event)">
            <div class="error-container" *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)">
              <span class="error" *ngIf="quantity.errors?.['required']">{{'fieldRequired'| translate}} </span>
              <span class="error" *ngIf="quantity.errors?.['error']">{{'numberGreaterThan1'| translate}} </span>

            </div>

          </div>
          <div class="form-group">

            <label class="label-text" for="place">{{'place'| translate}}</label>
            <input [formControl]="place" type="text" name="place" placeholder="{{'writeHere'| translate}}"
                   (change)="changeValueForm($event)">
            <div class="error-container" *ngIf="place.invalid && (place.dirty || place.touched)">
              <span class="error" *ngIf="place.errors?.['required']">{{'fieldRequired'| translate}} </span>
            </div>
          </div>
          <div class="form-group">

            <label class="label-text" for="description">{{'description'| translate}}</label>
            <textarea [formControl]="description" type="textarea" name="description"
                      placeholder="{{'writeHere'| translate}}" (change)="changeValueForm($event)" rows="5" cols="30"></textarea>

            <div class="error-container" *ngIf="description.invalid && (description.dirty || description.touched)">
              <span class="error" *ngIf="description.errors?.['required']">{{'fieldRequired'| translate}} </span>
            </div>
          </div>
        </div>

      </div>
    }
    <div class="container-buttons">
      @if (currentStep !== 1) {

        <button  class="secondary-button" id="buttonBack" (click)="backStep()">
          {{'back'| translate}}
        </button>
      }
      <button class="primary-button" id="buttonNext" (click)="nextStep()">
        {{ currentStep === 4 ? ('registerForm' | translate) : ('next' | translate) }}
      </button>
    </div>
  </div>
</main>
