<main class="container">
  <div class="sidebar">
    <img class="brand-img" src="../../../assets/images/logo.png" alt="logo" />
    <p>home</p>
    <p>hand</p>
    <p>box</p>
  </div>
  <div class="content">
    <header class="header">
      <div class="container-logo">
        <p>Bienvenido</p>
      </div>
      <div class="buttons">
        <img class="user-image" src="../../../assets/images/user_image.png" alt="user-logo" />
        <p> Luis</p>
      </div>
    </header>
    <div class="main-content">
      <div class="button-end">
        <button class="primary-button" (click)="createNewService()"> Agregar</button>
      </div>

      <div class="container-content">
        content
      </div>
    </div>
  </div>
</main>