<div class="content">
  <div class="main-content">
    <div class="container">
      <h2>Planes</h2>
      <div [ngClass]="getPlanClassesSelected('BASIC')" class="column" (click)="selectPlan('BASIC')"
        (keydown)="handleKeyDown($event)">
        <div class="columnTitle">
          <h3>{{'Básico' | translate}} <div class="recomendedPlan">{{recommendedPlan | translate}}</div>
          </h3>
          <p>{{'Plan para principiantes.' | translate}} </p>
        </div>
        <div class="serviceList ul-list">
          <ul >
            <li *ngFor="let features of basicPlanList"><span class="checkmark">&#10003;</span> {{ features.feature }}
            </li>
          </ul>
        </div>
        <div class="footer">
          <p>Precio: $0 USD</p>
          <button class="primary-button" (click)="selectPlan('BASIC')">Comprar</button>
        </div>
      </div>
      <div [ngClass]="getPlanClassesSelected('INTERMETIATE')" class="column" (click)="selectPlan('INTERMETIATE')"
        (keydown)="handleKeyDown($event)">
        <div class="columnTitle">
          <h3>{{'Medio' | translate}}</h3>
          <div class="recomendedPlan">{{recommendedMediunPlan | translate}}</div>
          <p>{{'Este es tu plan perfecto si ya tienes un nivel.' | translate}} </p>
        </div>
        <div class="serviceList">
          <ul>
            <li *ngFor="let features of mediunPlanList"><span class="checkmark">&#10003; </span> {{ features.feature }}
            </li>
          </ul>
        </div>
        <div class="footer">
          <p>Precio: $20 USD</p>
          <button class="primary-button" (click)="selectPlan('INTERMETIATE')">Comprar</button>
        </div>
      </div>
      <div [ngClass]="getPlanClassesSelected('PREMIUM')" class="column" (click)="selectPlan('PREMIUM')"
        (keydown)="handleKeyDown($event)">
        <div class="columnTitle">
          <h3>{{'Avanzado' | translate}}</h3>
          <div class="recomendedPlan">{{recommendedAdvancePlan | translate}}</div>
          <p>{{'Si tu nivel supera al de los dioses.' | translate}} </p>
        </div>
        <div class="serviceList">
          <ul>
            <li *ngFor="let features of advancePlanList"><span class="checkmark">&#10003; </span> {{ features.feature }}
            </li>
          </ul>
        </div>
        <div class="footer">
          <p>Precio: $30 USD</p>
          <button class="primary-button" (click)="selectPlan('PREMIUM')">Comprar</button>
        </div>
      </div>
    </div>
  </div>

</div>