<div class="container">
  <h2>Planes</h2>
  <div class="column">
    <div class="columnTitle">
      <h3>Básico</h3>
      <p>Description of the basic plan.</p>
    </div>
    <div class="serviceList">
      <ul>
        <li><span class="checkmark">&#10003;  </span>  Feature 1</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 2</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 3</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 4</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 5</li>
      </ul>
    </div>
    <div class="footer">
      <p>Precio: $10</p>
      <button class="primary-button" (click)="selectPlan('basic')">Comprar</button>
    </div>
  </div>
  <div class="column">
    <div class="columnTitle">
      <h3>Medio</h3>
      <p>Description of the medium plan.</p>
    </div>
    <div class="serviceList">
      <ul>
        <li><span class="checkmark">&#10003;  </span>  Feature 1</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 2</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 3</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 4</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 5</li>
      </ul>
    </div>
    <div class="footer">
      <p>Precio: $20</p>
      <button class="primary-button" (click)="selectPlan('intermediate')">Comprar</button>
    </div>
  </div>
  <div class="column">
    <div class="columnTitle">
      <h3>Avanzado</h3>
      <p>Description of the advanced plan.</p>
    </div>
    <div class="serviceList">
      <ul>
        <li><span class="checkmark">&#10003;  </span>  Feature 1</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 2</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 3</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 4</li>
        <li><span class="checkmark">&#10003;  </span>  Feature 5</li>
      </ul>
    </div>
    <div class="footer">
      <p>Precio: $30</p>
      <button class="primary-button" (click)="selectPlan('premiun')">Comprar</button>
    </div>
  </div>
</div>
