<main class="container-main">
  <div class="content">
    <div class="main-content">
      <div >
        <div class="title">{{ 'youInformation' | translate}}</div>
        <div class="subtitle">{{ 'demographyProfileSubtitle' | translate}}</div>
      </div>

      <div class="all-content">
        <div class="container">
          <div class="column">
            <span class="text-card-title">{{ 'demographyProfileLocation' | translate}}</span>
            <hr class="separate-top">
            <span class="text-card-info">dfsgfd</span>
            <hr class="separate-button">
          </div>

          <div class="column">
            <span class="text-card-title">{{ 'demographyProfileHeight' | translate}}</span>
            <hr class="separate-top">
            <span class="text-card-info"> sjfjd </span>
            <hr class="separate-button">
          </div>
        </div>

        <div class="container">
          <div class="column">
            <span class="text-card-title">{{ 'demographyProfileWeight' | translate}}</span>
            <hr class="separate-top">
            <span class="text-card-info"> disid </span>
            <hr class="separate-button">
          </div>

          <div class="column">
            <span class="text-card-title">{{ 'demographyProfileBirthYear' | translate}}</span>
            <hr class="separate-top">
            <span class="text-card-info">Tobillo - brazo</span>
            <hr class="separate-button">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
