@import '../../shared/vars.css';

.buttons {
  display: flex;
  justify-content: center;
  margin-right: 16px;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.container-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 43px 51px 43px;
  gap: 19px;
}

.all-content {
  -webkit-animation: slide-in-top 0.7s cubic-bezier(0.860, 0.000, 0.070, 1.000) alternate both;
  animation: slide-in-top 0.7s cubic-bezier(0.860, 0.000, 0.070, 1.000) alternate both;
}

.content {
  width: 100%;
  background-color: var(--c-black-bg);
  display: flex;
  flex-direction: column;
  color: var(--c-white);
}

.user-image {
  margin-right: 10px;
  width: 31px;
  height: 31px;
  margin-top: 13px;
}

.container-logo {
  display: flex;
  gap: 10px;
}

.container-logo p {
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.container-logo img {
  width: 40px;
  height: 40px;
  margin-top: 26px;
}


.primary-button {
  border-radius: 38px;
  background: var(--c-green-ligth);
  display: flex;
  height: 40px;
  padding: 0 30px;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  color: var(--black);
}

.brand-img {
  width: 50px;
  height: 50px;
}

.button-end {
  display: flex;
  justify-content: end;
  margin: 16px;
}

.text-card-title{
  color: #a9a8a8;
  padding: 15px;
  margin: 0.5rem 5rem 0.5rem 5rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.text-card-info{
  padding: 15px;
  margin: 0.5rem 5rem 0.5rem 5rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.separate-top{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 2rem 0.5rem 2rem;
}

.separate-button{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 2rem 1rem 2rem;
}

.container {
  margin: 0 10rem 1rem 10rem;
  display: flex;
}

.column {
  flex: 1;
  margin: 0.8rem;
  border: 1px solid var(--c-green-ligth);
}

.title{
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle{
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
}

.table-tittle{
  line-height: normal;
  margin: 0 5rem 0 5rem;
}

table {
  border-collapse: collapse;
  width:100%;
}

.table {
  padding: 23px 43px 51px 43px;
  display: flex;
  justify-content: center;
  margin: 0 10.8rem 4rem 10.8rem;
  border: 1px solid var(--c-green-ligth);
}

.tr {
  border: solid;
  border-width: 1px 0;
  text-align: center;
  border-color: white;
  vertical-align: middle;
  color: #a9a8a8;
}

.thead {
  padding: 0.2rem 0 1.2rem 1.7rem;
  font-style: normal;
  font-weight: 500;
}

th {
  border-width: 2px 0;
  text-align: center;
  color: #a9a8a8;
  font-style: normal;
}

.tr:hover {
  border-radius: 10px;
  border: 1px solid var(--c-green-ligth);
  color: var(--c-green-ligth);
}

.td {
  padding-block-end: 5%;
  display: inline;
}

dd{
  color: white;
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
